.price__old {
    font-size: 18.077px;
    position: relative;
}

.price__old::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #E27500;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}